<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalmDown"
        tools:targetApi="31">
        <service
            android:name=".service.BluetoothService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.feup.pesi.calmdown.MainActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.HrActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.StressActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.UserActivity"/>
        <activity android:name="com.feup.pesi.calmdown.LoginActivity"/>
        <activity android:name="com.feup.pesi.calmdown.RegisterActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.EditUserActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.QuizzActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.RespirationActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.DeviceActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.SearchActivity"/>
        <activity android:name="com.feup.pesi.calmdown.activity.StatsActivity"/>


    </application>

</manifest>